<<<<<<< HEAD

<a href="/" style="text-decoration: none; color: black;">
            <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
    </a>
<div class="mt-4">
  <form method="POST" action="/blogs/store">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold; font-size:large">Tiêu đề</label>
=======
<div class="mt-4">
  <form method="POST" action="/blogs/store">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Tên bài viết</label>
>>>>>>> 60b9931ed9710200bb01b2b2133456de2f2162cb
      <input
        type="text"
        name="title"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Nhập tên bài viết..."
      />
    </div>
    <div class="mb-3">
<<<<<<< HEAD
     <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold; font-size:large">Nội dung bài viết</label>
=======
      <label
        for="exampleFormControlTextarea1"
        class="form-label"
      >Nội dung bài viết</label>
>>>>>>> 60b9931ed9710200bb01b2b2133456de2f2162cb
      <textarea
        name="text"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="12"
        placeholder="Nhập nội dung bài viết..."
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Đăng bài viết</button>
  </form>
</div>