<a href="/" class="back" style="text-decoration: none; color: black;">
            <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
    </a>
<div class="container mt-4">
  <h3 style="font-weight: bold;">Chọn file muốn kiểm tra </h3>
  <input type="file">
  <p>

  </p>
  <h3 style="font-weight: bold;">Điền thông tin Key và mã Hash tải về từ Internet</h3>
  <h3>Key <input type="text"></h3>
 
  <h3>Mã Hash <input type="text"></h3>
  <p>
    
  </p>

    <div class="read_container">
      <h3 style="font-weight: bold;">Key và mã Hash tải về từ internet</h3>
      <h3>Key: <h4>{{key}}</h4></h3>
      <p>

      </p>
      <h3>Mã Hash: <h4>{{hmac}}</h4></h3>
    </div>
<button>
<a class="dropdown-item"style="font-weight: bold;" href="/hmac/create/compare">Check</a>
</button>
     
    
  
</div>