<div class="mt-4">
    
    <div class="container mt-4">
    <h1>{{resultSearch.title}}</h1>
    <div class="card">
      <div class="card-body">
        <p>{{resultSearch.text}}</p>
      </div>
    </div>
  </div>
</div>